/* font Family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}




/* nav style */
.nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;    
    padding: 0px 5px;
    margin-top: 40px;
    
        
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    /* display: flex;
    flex-direction: row-reverse; media query er jonne */
  
}
.nav-menu a{
    text-decoration: none;
}
.nav h2{
    margin-left: 30px;
}

/* main body style */
.main-body{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.main-body-info{
    margin-top: 70px;
}
.main-body-info h1{
    font-size: 50px;
    margin-bottom: 16px;
}
.main-body-info p{
    font-size: 16px;
    margin-bottom: 16px;
    text-align: justify;
    /* text-justify: inter-word; */
}
.main-body-button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border: none;
    border-radius: 41px;
    font-size: 18px;
    color: white;
}
.main-body-img{
    margin-right: 80px;
    
}

/* add company */
.add-company{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 120px;
    border-radius: 10px;
}






