/* font Family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}




/* nav style */
.nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;    
    padding: 0px 5px;
    margin-top: 40px;
    
        
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    /* display: flex;
    flex-direction: row-reverse; media query er jonne */
  
}
.nav-menu a{
    text-decoration: none;
}
.nav h2{
    margin-left: 30px;
}

/* main body style */
.main-body{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.main-body-info{
    margin-top: 70px;
}
.main-body-info h1{
    font-size: 50px;
    margin-bottom: 16px;
}
.main-body-info p{
    font-size: 16px;
    margin-bottom: 16px;
    text-align: justify;
    /* text-justify: inter-word; */
}
.main-body-button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border: none;
    border-radius: 41px;
    font-size: 18px;
    color: white;
}
.main-body-img{
    margin-right: 60px;
    position: relative;
    background-image: url('../images/Circle design.svg');
    background-repeat: no-repeat;
    
}

/* add company */
.add-company{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 120px;
    border-radius: 10px;
} 

/* Popular Collection */
.popular-collections p{
    font-size: 38px;
    color:#3A3A3A;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.popular-items{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.item{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30);
    border-radius: 15px; 
}
.item img{
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    /* padding: 25px 25px 0px 50px; */
    /* margin: 15px;
    margin-left: 45px; */
}
#item-name{
    font-size: 30px;
    margin-left: 50px;
    width: auto;
}
#item-price{
   color: #3c3c3c;
   font-size: 24px;
   margin-left: 50px;
   width: auto;
}
.item-rating, #item-details{
    margin-left: 50px;
    font-size: 16px;
    text-align: justify;
    width: auto;
}
/* .fa-star.fillup{
    color: #FB8200;
} */
.fillup{
    color: #FB8200;
}
.rate, #item-details{
    color: #5E6366;
    font-size: 16px;
}
.see-more{
    color: #E02C6D;
    margin-left: 1350px;
    
}

/* Feature products at one place */
.feature-products{
    margin-left: 40px;
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    gap: 70px;
    
}
.products-image img{
    border-radius: 15px;
}
.products-info h2{
    font-size: 38px;
}
.products-info p{
    font-size: 18px;
    color: #6C6C6C;
}

/* footer style */
.footer{
    background-color: rgb(81, 76, 76);
    /* height: 350px; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer{
    color: white;
    text-align: center;
    
}
.footer-info h2{
    font-size: 30px;
    margin-top: 50px;
}
.footer-info p{
    font-size: 15px;    
}
.footer-icon i{
    margin-bottom: 50px;
    margin-right: 15px;
}


/* Responsive */

@media screen and (max-width: 688px) {
    .popular-items{
        /* margin: auto; */
        grid-template-columns: repeat(1, 1fr);
        /* gap: 30px; */
        
    }
    .popular-collections p{
        margin-left: 40px;
    }
}









/* 
.nav, .main-body, .add-company, .see-more, .feature-products, .footer{
    display: none;
} */








